#movieForm {
    text-align: center;
}

.movieFormHeading {
    text-align: left;
}

#moviePage {
    width: 60rem;
    height: 57rem;
    background-color: rgb(244, 247, 248);
}

#movieTitle {
    width: 50rem;
    height: 3rem;
    font-size: 30px;
}
